<main>
  <h1>Generador JSON de Digimon TCG</h1>

  <form (submit)="fetchAndDownloadJson(); $event.preventDefault()">
    <!-- Sección de selección de caja -->
    <section class="form-select" aria-labelledby="section-box-selection">
      <h2 id="section-box-selection">1. Selecciona la caja</h2>

      <label for="btSelect">Caja de Digimon:</label>

      <select
        id="btSelect"
        [(ngModel)]="selectedBt"
        name="btSelect"
        aria-label="Selecciona una opción"
      >
        <option *ngFor="let key of btNames | keyvalue" [value]="key.value">
          {{ key.value }}
        </option>
      </select>
    </section>

    <!-- Sección de checkboxes -->
    <section class="form-options" aria-labelledby="section-field-selection">
      <h2 id="section-field-selection">2. Selecciona los campos a incluir</h2>

      <fieldset>
        <legend>Campos disponibles</legend>

        <div class="buttons">
          <button type="button" (click)="markAllFields(true)">
            Marcar todos
          </button>
          <button type="button" (click)="markAllFields(false)">
            Desmarcar todos
          </button>
        </div>

        <div
          *ngFor="let field of availableFields; let i = index"
          class="checkbox"
        >
          <input
            type="checkbox"
            [id]="'field_' + i"
            [checked]="selectedFields[field]"
            (change)="toggleField(field)"
          />
          <label [for]="'field_' + i">{{ field }}</label>
        </div>
      </fieldset>
    </section>

    <!-- Sección del botón de envío -->
    <section class="form-submit" aria-labelledby="section-generate">
      <h2 id="section-generate">3. Generar archivo JSON</h2>
      <button type="submit">Generar JSON</button>
    </section>
  </form>
</main>
